.uploadInput {
    display: flex;
    flex-wrap: wrap;

    // input {
    //     display: none;
    // }

    label {
        text-align: center;
        position: relative;
        left: 423px;
    }
}
