.Container {
  display: flex;
  flex-direction: column;
  width: 363px;
  height: 473px;
}

.image_category {
  margin-top: 24px;
}

.set_image {
  width: 363px;
  height: 222px;
}

.category {
  margin: 10px 24px;
}

.button_category {
  background-color: transparent;
  color: #a43f3c;
  border: 1px solid #a43f3c;
  border-radius: 4px;
  width: 100px;
  height: 30px;
  margin-top: 16px;
}

.button_category_skeleton {
  margin-top: 16px;
}

.title1 {
  font-weight: bold;
  font-family: Nunito;
}

.title2 {
  font-size: 14px;
  font-family: Nunito;
}

.progress {
  width: 315px;
  border-radius: 4px;
  margin-top: 15px;
}

.goals_card {
  display: flex;
  justify-content: space-between;
}

.raised {
  margin: 0;
  margin-top: 27px;
  font-size: 14px;
  font-family: Nunito;
  color: #9f9f9f;
}

.goal {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-top: 27px;
  font-size: 14px;
  font-family: Nunito;
  color: #9f9f9f;
}

.goals_skeleton {
  display: flex;
  justify-content: space-between;
  width: 316px;
  margin-top: 24px;
}
.goals_skeleton2 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.money1 {
  margin: 0;
  color: #1d94a8;
  font-weight: bold;
  font-family: Nunito;
}

.money2 {
  margin: 0;
  font-weight: bold;
  font-family: Nunito;
}

@media screen and (max-width: 1200px) {
  .Container {
    width: 300px;
    height: 430px;
  }
  .set_image {
    width: 300px;
    height: 200px;
  }
  .progress {
    width: 260px;
  }
}

@media screen and (max-width: 700px) {
  .Container {
    width: 175px;
    height: 320px;
  }
  .set_image {
    width: 175px;
    height: 100px;
  }
  .category {
    margin: 0px 10px;
  }
  .button_category {
    width: 82px;
    height: 27px;
    font-size: small;
    margin-top: 5px;
  }
  .progress {
    width: 160px;
  }
  .title_description {
    margin-top: 10px;
  }
  .title1 {
    font-size: 12px;
  }
  .title2 {
    font-size: 10px;
  }
  .goals_card {
    margin-top: 10px;
  }
  .raised {
    margin-top: 0;
    font-size: 10px;
  }
  .money1 {
    font-size: 10px;
  }
  .goal {
    margin-top: 0;
    font-size: 10px;
  }
  .money2 {
    font-size: 10px;
  }
  .loading_img {
    width: 175px;
    height: 125px;
  }
  .button_category_skeleton {
    width: 75px;
  }
}
