.container {
  margin: 0 50px;
}

.container1 {
  display: flex;
  justify-content: space-between;
}

.main_image {
  width: 654px;
  height: 510px;
}

.title1 {
  font-family: Nunito;
  margin: 0;
  color: #a43f3c;
  font-size: 24px;
}

.title2 {
  font-family: Nunito;
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.title3 {
  font-weight: bold;
  font-size: 24px;
  font-family: Nunito;
}

.thickright {
  display: flex;
  justify-content: flex-end;
}

.paragraph {
  font-family: Nunito;
  font-size: 20px;
  width: 501px;
  margin: 10px;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 39px;
}

.author_image {
  width: 72px;
  height: 72px;
}

.text_author {
  margin-left: 18px;
}

.text {
  margin: 0;
  font-family: Nunito;
}

.latest_card {
  margin-top: 72px;
}

.list_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section_bottom {
  margin: 72px 0;
}

.image_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image_apps {
  padding-right: 200px;
}

@media screen and (max-width: 1200px) {
  .main_image {
    width: 500px;
    height: 375px;
  }
  .image_bottom {
    width: 500px;
    height: 300px;
  }
  .image_apps {
    padding-right: 100px;
  }
}

@media screen and (max-width: 700px) {
  .main_image {
    width: 300px;
    height: 250px;
  }
  .description {
    width: 200px;
  }
  .thickleft {
    width: 25px;
  }
  .paragraph {
    font-size: 15px;
    width: 200px;
    margin: 5px;
  }
  .thick_right {
    width: 25px;
  }
  .author_image {
    width: 45px;
    height: 45px;
  }
  .title1 {
    font-size: medium;
  }
  .title2 {
    font-size: 20px;
  }
  .title3 {
    font-size: 20px;
  }
  .text {
    font-size: medium;
  }
  .image_bottom {
    width: 270px;
    height: 180px;
  }
  .image_apps {
    width: 200px;
    height: 55px;
    padding-right: 100px;
  }
}
