.payment {
  margin: 40px 240px 150px 240px;
}

.title {
  font-family: Nunito;
  font-size: 32px;
}

.Form {
  display: flex;
  flex-direction: row;
  width: 961px;
  justify-content: space-between;
}
.text_field {
  font-family: Nunito;
  font-size: 14px;
  font-weight: bold;
}

.input_field {
  width: 512px;
  height: 42px;
}

.input_field2 {
  font-size: 14px !important;
  width: 512px;
  height: 42px;
}

.span {
  color: #a43f3c;
}

.span_text {
  color: #9f9f9f;
  font-style: italic;
}

.borderline {
  border: 1px solid #9f9f9f;
  width: 961px;
  margin: 24px 0;
}

.message {
  margin-top: 24px;
}

.checkbox {
  display: flex;
  font-size: 14px;
  align-items: center;
  margin-top: 12px;
  font-family: Nunito;
}

.text_box {
  font-family: Nunito;
  width: 512px !important;
  height: 233px !important;
  resize: none;
  border: none;
  outline: none;
  margin-top: 10px;
  margin-bottom: 29px;
  font-size: 14px;
  border-bottom: 1px solid #1d94a8;
}

.text_button {
  font-family: Nunito;
}

//Card
.image_category {
  margin-top: 24px;
}

.set_image {
  width: 363px;
  height: 222px;
}

.category {
  margin: 10px 24px;
}

.button_category {
  background-color: transparent;
  color: #a43f3c;
  border: 1px solid #a43f3c;
  border-radius: 4px;
  width: 100px;
  height: 30px;
  margin-top: 16px;
}

.title1 {
  font-weight: bold;
  font-family: Nunito;
}

.title2 {
  font-size: 14px;
  font-family: Nunito;
}

.progress {
  width: 315px;
  border-radius: 4px;
  margin-top: 15px;
}

.goals_card {
  display: flex;
  justify-content: space-between;
}

.raised {
  margin: 0;
  margin-top: 27px;
  font-size: 14px;
  font-family: Nunito;
  color: #9f9f9f;
}

.goal {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-top: 27px;
  font-size: 14px;
  font-family: Nunito;
  color: #9f9f9f;
}

.money1 {
  margin: 0;
  color: #1d94a8;
  font-weight: bold;
  font-family: Nunito;
}

.money2 {
  margin: 0;
  font-weight: bold;
  font-family: Nunito;
}
//doneCardLine
.choosed_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_payment {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 15px;
}

.credit_card {
  background-color: #ffffff;
  width: 200px;
  height: 87px;
  border: 1px solid #9f9f9f;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  &_active {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 87px;
  }
}

.bank_transfer {
  background-color: #ffffff;
  width: 200px;
  height: 87px;
  border: 1px solid #9f9f9f;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.button_approve {
  display: flex;
  justify-content: flex-end;
  margin-top: 70px;
}

.approve {
  background-color: #a43f3c;
  color: #ffffff;
  width: 208px;
  height: 48px;
  border-radius: 3px;
  border: 1px solid #9f9f9f;
}

.form_card {
  display: flex;
  flex-direction: row;
  margin-top: 42px;
}

.date_card {
  border: none;
}

.form_transfer {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  padding: 24px;
  width: 500px;
  height: 250px;
}

.title_transfer {
  color: #1d94a8;
  font-family: Nunito;
  font-weight: bold;
  font-size: 24px;
}
.transfer_data {
  display: flex;
  justify-content: space-between;
}

.account {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.account_title {
  font-family: Nunito;
  color: #9f9f9f;
}

.account_data {
  font-family: Nunito;
  font-weight: bold;
}

.button_copied {
  display: flex;
  justify-content: flex-end;
}

.button_styling {
  border: none;
  font-family: Nunito;
  font-weight: bold;
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  .payment {
    margin: 40px 120px 150px 120px;
  }
}

@media screen and (max-width: 700px) {
  .payment {
    margin: 20px 35px 100px 35px;
  }
  .title {
    font-size: 20px;
  }
  .borderline {
    width: 600px;
  }
  .Form {
    width: 600px;
  }
  .input_field2 {
    width: 350px;
  }
  .text_box {
    width: 350px !important;
    height: 230px !important;
  }
  .choosed_card {
    width: 220px;
  }
  .set_image {
    width: 200px;
    height: 122px;
  }
  .category {
    margin: 0;
    width: 185px;
  }
  .button_category {
    width: 90px;
    height: 30px;
  }
  .title1 {
    font-size: 10px;
  }
  .title2 {
    font-size: 8px;
    font-family: Nunito;
  }
  .progress {
    width: 180px;
  }
  .raised {
    font-size: 10px;
    margin-top: 5px;
  }
  .goal {
    margin-top: 5px;
    font-size: 10px;
  }
  .money1 {
    font-size: 10px;
  }
  .money2 {
    font-size: 10px;
  }
}
