.discover_category {
  margin: 0px 65px;
}

.main_category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}

.button_category {
  background-color: transparent;
  color: #a43f3c;
  border: 1px solid #a43f3c;
  border-radius: 4px;
  width: 100px;
  height: 30px;
  margin-top: 16px;
}

.main_pict {
  display: flex;
  justify-content: flex-end;
}

.img_category {
  width: 700px;
  height: 550px;
}

.icons_category {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 175px;
  justify-content: space-evenly;
  color: black;
}

.title_category {
  font-family: Nunito;
  font-weight: bold;
  width: 500px;
}

.text_category {
  font-family: Nunito;
  font-weight: bold;
}

.sorting {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}

.component_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-bottom: 135px;
}

@media screen and (max-width: 1200px) {
  .img_category {
    width: 550px;
    height: 450px;
  }
  .title_category {
    font-size: larger;
  }
  .keyboard_backspace {
    font-size: 1.2rem;
  }
  .text_category {
    font-size: small;
  }
}

@media screen and (max-width: 700px) {
  .main_category {
    width: 565px;
  }
  .img_category {
    width: 250px;
    height: 150px;
  }
  .title_category {
    width: fit-content;
  }
}
