.discover {
  margin: 0 65px;
}

.title {
  font-family: Nunito;
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  margin: 24px 0;
}
.title_search {
  font-family: Nunito;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  margin: 24px 0;
}

.title1 {
  font-family: Nunito;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  margin-top: 130px;
  text-decoration: underline;
}
.title2 {
  font-family: Nunito;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  margin-top: 80px;
  text-decoration: underline;
}

.icons_category {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 175px;
  justify-content: space-evenly;
  color: black;
}
.title_category {
  font-family: Nunito;
  font-weight: bold;
}

.button_card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px 125px;
}

.button {
  width: 101px;
  height: 101px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e1e0e0;
  justify-content: space-evenly;
  border-radius: 6px;
  box-shadow: 1px 1px #888888;
}

.button_title {
  margin-bottom: 0;
}

.component_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.component_card2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 160px;
}

@media screen and (max-width: 1200px) {
  .button_card {
    margin: 0px 75px;
  }
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 15px;
  }
  .button_card {
    margin: 0;
  }
  .img_button {
    width: 20px;
  }
  .button {
    width: 65px;
    height: 50px;
  }
  .button_title {
    font-size: 10px;
  }
  .title1 {
    font-size: 15px;
    margin-top: 25px;
  }
  .title2 {
    font-size: 15px;
    margin-top: 0;
  }
  .component_card2 {
    margin-bottom: 0;
  }
}
