@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");

.footer {
  background-color: #f9f7f3;

  .footerWrapper {
    display: flex;
    justify-content: space-between;
    font-family: "Nunito";
    padding-left: 120px;
    padding-right: 100px;
  }

  .logo {
    padding-top: 40px;
  }

  .listedLink {
    display: flex;
    color: #1d94a8;
    padding-bottom: 50px;

    .list {
      padding: 0 30px;

      h5 {
        padding: 30px 0;
      }

      ul li {
        padding-bottom: 10px;
      }
      li {
        list-style: none;
      }
      a {
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: #2d2d2d;
        padding-bottom: 6px;
      }
    }
  }

  .foot {
    font-family: Nunito;
    padding: 20px 120px;
    border: 0.5px solid #e1e0e0;
  }
}

@media screen and (max-width: 700px), (max-width:900px) {
  .footer {
    .footerWrapper {
      padding: 0 60px;
      .list {
        padding: 0 25px;
        h5 {
          font-size: 12px;
        }
        a {
          font-size: 14px;
        }
      }
    }
    .foot {
      padding: 20px 50px;
      p {
        font-size:14px;
      }
    }
  }
  .logo {
    img {
      width: 120px;
    }
  }
}
